<%= link_to toilet_path(toilet), class: "card-link" do  %>
  <div class="card-map">
    <div class="card-map-info">
      <div class="card-map-title"><%= toilet.title %></div>
      <div class="card-map-location"><%= toilet.address %></div>
    </div>
    <% if toilet.images.empty? %>
        <div  class= "card-map-image" style=" background-image: url('https://i.pinimg.com/originals/72/a9/3f/72a93f8f5eb98d80df21d63924771142.jpg');"></div>
      <% else %>
        <div  class= "card-map-image" style=" background-image: url('<%= cl_image_path toilet.images.first.url %>');"></div>
      <% end %>
    <div class="card-map-price"><%= toilet.price %> DKK.-</div>
  </div>
<% end %>
