
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="page-title">
      <h1>Browse the seats that'll suit your butt</h1>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <% @toilets.each do |toilet| %>
      <div class="col-md-6">
    <%= link_to toilet_path(toilet), class: "card-link" do  %>
          <div class="card-toilet">
            <div class="card-info">
              <div class="card-title"><%= toilet.title %></div>
              <div class="card-location"><%= toilet.location %></div>
            </div>
            <div  class= "card-image" style=" background-image: url('<%= cl_image_path toilet.photo %>');"></div>
            <div class="card-price"><%= toilet.price %> DKK.-</div>
          </div>
      <% end %>
        </div>
    <% end %>
  </div>
</div>
