<h1>This is the show page for individual toilets</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-4 offset-sm-4">
      <%= cl_image_tag @toilet.photo, height: 300, width: 400, crop: :fill %>
      <%= simple_form_for [@toilet, @booking] do |f| %>
        <%= f.input :date %>
        <%= f.input :time %>
        <%= f.submit "Book!" %>
      <% end %>
    </div>
  </div>
</div>
